[submodule "src/aitrios-sdk-console-access-lib-ts"]
	path = src/aitrios-sdk-console-access-lib-ts
	url = https://github.com/SonySemiconductorSolutions/aitrios-sdk-console-access-lib-ts.git
	branch = develop
