.advertisement-area {
  box-shadow: 0 0 20px rgb(171, 171, 171);
  justify-content: center;
  max-width: 900px;
  margin-top: 20px;
  margin-left: 300px;
}

.advertisement-area-signage-mode {
  box-shadow: 0 0 20px rgb(171, 171, 171);
  justify-content: center;
  max-width: 900px;
  margin-top: 100px;
  margin-left: 850px;
}

.object-detection-container {
  margin: 10px 1em;

  .upper-items {
    display: contents;
    justify-content: center;

    .timestamp-area {
      background-color: yellow;
      display: inline-block;
      color: #a97443;
    }

    .boundingboxes-area {
      margin: 0px 10px 10px 0px;
    }
  }

  .lower-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    
    .left-item{
      width: 650px;
      padding-right: 10px;
      padding-left: 30px;

      .raw-data {
        height: 200px;
        font-size: 13px;
        border: solid;
        border-width: thin;
        border-color: #373944;
        overflow-y: scroll;
        overflow-x: scroll;
        white-space: pre;
      }  
    }
    .right-item{
      width: 650px;
      padding-left: 30px;

      .label-area {
        height: 200px;
        font-size: 12px;
        border: solid;
        border-width: medium;
        border-color: #373944;
        padding-left: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .button-area {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
